.wrapperGrid {
  padding-left: 6rem;
  padding-right: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-block: 0;
  font-size: 6rem;
  font-family: "Italianno";
}

.subtitle {
  font-size: 2rem;
  font-family: "Italianno";
  text-align: center;
  margin-top: 0;
}

.all {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50px;
  background: white;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1rem;
  font-family: sans-serif;

}


@media only screen and (max-width: 899px) {
  .pageTitle {
    font-size: 3rem;
  }

  .subtitle {
    margin-block: 1rem;
    font-size: 2rem;
  }

  .wrapperGrid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}


@media only screen and (max-width: 550px) {

  .wrapperGrid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .pageTitle {
    font-size: 2.5rem;
  }
}