.footerWrapper {
  background-color: black;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footerTitle {
  color: #fff;
  margin: 0;
  font-family: "Italianno";
  font-size: 3rem;
}

.iconButton {
  color: #fff;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}

.wrapperPolicyLink {
  color: #fff;
  gap: 3rem;
  font-size: 1rem;
  display: flex;
  padding-block: 0rem 1.5rem;
}

.policyLink {
  cursor: pointer;
  font-weight: 800;
  text-decoration: underline;
  text-align: center;
}

.policyLabel {
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
}

.mail {
  font-weight: 400;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

@media only screen and (max-width: 899px) {
  .footerTitle {
    font-size: 2rem;
    text-align: center;
  }
}
