.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}

.footerWrapper {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footerTitle {
  margin: 0;
  font-family: "Italianno";
  font-size: 3rem;
}

@media only screen and (max-width: 899px) {
  .footerTitle {
    font-size: 2rem;
    text-align: center;
  }
}
