.contentWrapper.spacing {
    margin-block: 1.5rem;
}

.contentWrapper {
    padding: 1rem 2rem;
}

.formWrapper {
    margin-top: .5rem;
    text-align: end;
}

.footerTitle {
    margin-top: 2rem;
}