html,
body {
  color: black;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    italianno;
}

:root {
  --color-primary: #c9184a;
  --color-secondary: #ffffff;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  color: #fffd82;
  text-align: center;
}

a.cky-banner-element {
  padding: 8px 30px;
  background: #f8f9fa;
  color: var(--color-primary);
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}
