html,
body {
  color: black;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, italianno;
}

:root {
  --color-primary: #c9184a;
  --color-secondary: #ffffff; 
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a.cky-banner-element {
  padding: 8px 30px;
  background: #F8F9FA;
  color: var(--color-primary);
  border: 1px solid #DEE2E6;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}