.presentationCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c9184a;
  padding: 0.5rem;
}

.textIntroduction {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.pageTitle {
  font-size: 6rem;
  text-align: center;
  font-family: "Italianno";
  color: #000;
  margin-block: 0;
}

.description {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-family: sans-serif;

}

.uppergrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 2rem;
  font-size: small;
  font-family: sans-serif;
}

.subtitleWrapper {
  font-family: "Italianno", cursive;
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-block: 0;
}

.clickableImage {
  cursor: pointer;
}

.paragraph {
  margin-block: 2rem;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 1rem;
}

@media only screen and (max-width: 899px) {
  .pageTitle {
    font-size: 2.5rem;
  }

  .paragraph {
    margin-block: 1rem;
    font-size: 2rem;
  }

  .gridWrapper {
    grid-template-columns: 1fr;
  }

  .uppergrid {
    grid-template-columns: 1fr 1fr;
  }
  .presentationCard {
    flex-direction: column;
  }
  .description{
    font-size: 1.25rem;
  }
}
