.wrapper {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  gap: 2rem;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .gridWrapper {
    grid-template-columns: 1fr;
  }
}

.carouselWrapper {
  padding: 1rem;
}

.headerCarousel {
  padding: 1rem;
}

.title {
  font-family: "Italianno", cursive;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.subtitle {
  font-family: "Italianno", cursive;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem;
}

.category {
  opacity: 1;
}

.category:hover {
  opacity: 0.5;
  cursor: pointer;
}

.categoryTitle {
  margin: 0;
  font-size: 3rem;
  font-family: "Italianno", cursive;
  text-align: center;
}

.pageTitle {
  margin: 0;
  text-align: center;
  font-size: 6rem;
  font-family: "Italianno";
}