.wrapper {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  gap: 2rem;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 1rem;
}

.uppergrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 2rem;

}
.carouselWrapper {
  padding: 1rem;
}

.headerCarousel {
  padding: 1rem;
}

.title {
  font-family: "Italianno", cursive;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.subtitleWrapper {
  font-family: "Italianno", cursive;
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.subtitle {
  margin-block: 2rem;
  color: #f00;
}

.paragraph {
  margin-block: 2rem;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block: 0;
  font-size: 6rem;
  font-family: "Italianno";
}

@media only screen and (max-width: 899px) {
  .pageTitle {
    font-size: 2.5rem;
  }

  .subtitle {
    margin-block: 1rem;
    font-size: 2rem;
  }

  .paragraph {
    margin-block: 1rem;
    font-size: 2rem;
  }

  .gridWrapper {
    grid-template-columns: 1fr;
  }

  .uppergrid {
    grid-template-columns: 1fr;
  }
}
