.wrapperPolicy {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1rem;
}

.title {
  padding: 0;
  margin: 0;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.cookieSettingWrapper {
  text-align: "center";
  padding-bottom: ".75rem";
}
