.wrapperPolicy {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding:2rem 25rem;
}

.title {
  font-family: "Italianno";
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.subtitle {
  text-align: center;
}


@media only screen and (max-width: 899px) {
  .wrapperPolicy {
    padding:2rem 1.75rem;
  }}
