.wrapper {
  z-index: 100;
}

.wrapper:hover {
  cursor: zoom-out;
}

.exitButton {
  z-index: 100;
  position: absolute;
  top: 0;
  cursor: pointer;
  background-color: #f00;
  border: 0;
  color: #fff;
}
