 .navigationWrapper {
   height: min-content;
   display: flex;
   flex-direction: column;
   position: sticky;
   z-index: 999;
   top: 0;
   background-color: rgba(255, 255, 255, 0.5);
 }

 .view {
   display: none
 }

 .selectedButton {
   background-color: #c9184a;
   color: "#fff"
 }

 .notSelectedButton {
   background-color: #fff;
   color: #c9184a;
 }

 @media only screen and (max-width: 768px) {
   .view {
     display: block;
   }
 }

 .headerWrapper {
   display: none;
 }

 @media only screen and (min-width: 768px) {
   .headerWrapper {
     margin: 0 1rem 0 1rem;
     display: flex;
     justify-content: space-between;
   }
 }

 .wrapperDrawer {
   display: flex;
   align-items: center;
 }

 .drawerHeader {
   color: #fff;
   font-size: 1.5rem;
   font-family: Italianno;
   display: flex;
   align-items: center;
 }

 .backButton {
   background-color: transparent;
   padding: 0;
   margin: 0;
   border: none;
 }

 .imageWrapper {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: flex-end;
 }

 .drawerTitle {
   padding-top: .2rem;
   margin: .25rem .5rem;
 }

 .iconLinkDrawer {
   margin-left: 1rem;
 }

 .footerWrapper {
   position: absolute;
   bottom: 1rem;
 }