 .navigationWrapper {
   display: flex;
   flex-direction: column;
 }

 .view {
   display: none
 }

 @media only screen and (max-width: 768px) {
   .view {
     display: block;
   }
 }

 .headerWrapper {
   display: none;
 }

 @media only screen and (min-width: 768px) {
   .headerWrapper {
     margin: 1rem;
     display: flex;
     justify-content: space-between;
     margin-right: 1rem;
   }
 }

 .wrapperDrawer {
   display: flex;
   align-items: center;
 }

 .drawerHeader {
   color: #fff;
   font-size: 1.5rem;
   font-family: Italianno;
   display: flex;
   align-items: center;
 }

 .backButton {
   background-color: transparent;
   padding: 0;
   margin: 0;
   border: none;
 }

 .imageWrapper {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: end;
 }

 .drawerTitle {
   padding-top: .2rem;
   margin: .25rem .5rem;
 }

 .footerWrapper {
   position: absolute;
   bottom: 0;
 }