.navigationWrapper {
  display: flex;
  flex-direction: column;
}

.wrapperDrawer {
  display: flex;
  align-items: center;
}
.buttonHeaderWrapper {
  display: flex;
  gap: 0.75rem;
}

.headerWrapper {
  background-color: #adc178;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.footerWrapper {
  position: fixed;
  bottom: 0;
}
