.card {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 4px;
  height: 35rem;
  box-shadow: rgba(201, 24, 74, 0.2) 0px 2px 1px -1px,
    rgba(201, 24, 74, 0.14) 0px 1px 1px 0px,
    rgba(201, 24, 74, 0.12) 0px 1px 3px 0px;
  position: relative;
}

.image {
  cursor: zoom-in;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-family: Italianno;
  margin-bottom: auto;
}

.descriptionWrapper {
  padding-top: 1rem;
  font-family: sans-serif;
}

.footerCard {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.icon:hover {
  color: #c9184a;
  background-color: transparent;
}

.chipWrapper {
  display: flex;
  gap: 0.2rem;
}

.rainbow {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}
